#bloque1{
	background-color: #A32238;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 50px;
}

#bloque2{
	text-align: center;
	background-color: #0089C0;
	padding-top: 10px;
	padding-bottom: 10px;
}
#bloque3{
	margin-top: -21px;
	background-color: black;
	text-align: right;
}

#bloque4{
	background-color: white;
	font-style: normal;
	text-align: center;
}

.cuzco{
	font-family: "El Rio Lobo";
	color: #F4B031;
}

p {
	color: white;
	font-size: 18px;
}
