#bloque1{
	background-color: #A32238;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 50px;
}

#bloque2{
	background-color: blue;
	align-content: center;
	background-color: #0089C0;
}
#bloque3{
	background-color: black;
	text-align: right;
}

.cuzco{
	font-family: "El Rio Lobo";
	color: #F4B031;
}

p {
	color: white;
	font-size: 18px;
}