#bloque1{
	background-color: #A32238;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 50px;
}

#bloque2{
	text-align: center;
	background-color: #0089C0;
	padding-top: 10px;
	padding-bottom: 10px;
}
#bloque3{
	margin-top: -21px;
	background: url("../images/cuzco2.jpg") no-repeat top center;
	text-align: right;
	-webkit-background-size: cover;
	-moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 200px;
}

#bloque4{
	font-family: 'El Rio Lobo';
	font-style: normal;
	font-weight: 400;
	text-align: center;
}

.tipografia1{
	font-family: "El Rio Lobo";
	color: #F4B031;
	margin-bottom: 5px;
}

.tipografia2{
    font-family: "El Rio Lobo";
    font-style: normal;
    font-weight: 400;
}

p {
	color: white;
	font-size: 18px;
	margin-top: 0px;
	margin-bottom: 0px;
}
